:root{
    --color-text-white: #FFFFFF;
    --background-color-hero-footer: #2F303A;
    --background-color: #F5F5F5;
    --color-acent: #2196F3;
    --color-black-logo: #000000;    
    --color-title: #212121;   
    --color-text: #757575;
    --color-button-team: #F5F4FA;
    --color-footer-telefon: rgba(255, 255, 255, 0.6); 
}
body{
    background-color: var(--background-color);
    color: var(--color-text);
}
.list {
    list-style: none;
}
/* Хедер */
.logo {
    color: var(--color-black-logo);
}
span {
    color: var(--color-acent);
}
.site-nav .link {
    color: var(--color-title);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--color-acent);
}
.site-nav .link.current {
    color: var(--color-acent);
}
.auth-nav .link {
    color: var(--color-text);
}
.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--color-acent);
}
/* Общее для всех секций */
.section-title {
    color: var(--color-title);
}
/* Секция Герой */
.hero-title {
    color: var(--color-text-white);
}
/* Качества наших работников */
.skill-list .title {
    color: var(--color-title);
}
/* Чем мы занимаемся */
/* Наша команда */
.team-list .title {
    color: var(--color-title);
}
/* Список кнопок для портфолио*/
/* Портфолио работ */
.portfolio-list .title {
    color: var(--color-title);
}
/* Кнопки */
.button {
    color: var(--color-text-white);
    background-color: var(--color-acent);
}
.button-grey {
    color: var(--color-title);
    background-color: var(--color-button-team);
}
.button-grey:hover,
.button-grey:focus {
    color: var(--color-text-white);
    background-color: var(--color-acent);
}